<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"">
    <link rel="stylesheet" href="css/custom_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./process.js"></script>
    <title>MiniGame</title>
</head>

<body>
    <div class="custom_comment">
        <h2 style="margin-top: 10px; margin-left: 10px;text-shadow: 2px;">Blockchain MiniGame</h2>
    </div>
    <div class="container-fluid">
        <div class="row center">
            <div class="col-md-12 pt-3">
                <p>Please register your information, then We will randomly select 3 students for a full scholarship of blockchain worth $1000 on Saturday, 14th August 2021.</p>
                <p>Good luck!</p>
                <div class="form-group custom_div_style">
                    <div class="custom_backgroundarea">
                        <input type="text" class="form-control" id="textEmail" placeholder="Email address"/>
                        <input type="text" class="form-control" id="textName" placeholder="Name"/>
                        <input type="text" class="form-control" id="TextPhone" placeholder="Phone number"/>                                                       
                        <button type="submit" class="btn btn-primary" id="Submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   

</body>

</html>

 